:root {
    --main-bg-color: #FFFFFF;
    --second-bg-color: #BE0826;
    --main-color: #737273;
    --second-color: #BE0826;
    --third-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: "Oswald";
    background-color: #FFFFFF;
}

html {
    color: var(--main-color);

    height: 100%;
    width: 100%;
}

ul {
    list-style: none;
}

.content-wrapper {
    margin: auto;
    max-width: 1280px;
    min-width: 320px;

    position: relative;
}

.object-box, .object-box--r, .object-box--l {
    display: flex;
}

.object-box--r {
    justify-content: flex-end;
}

.object-box--l {
    justify-content: flex-start;
}

.object-box__bg, .object-box__bg--btn {
    display: block;
    width: 270px;
    height: 135px;

    position: relative;
    color: var(--third-color);
    background-color: var(--second-bg-color);
}

.object-box__bg--btn {
    cursor: pointer;
    border: unset;
    line-height: 135px;
    text-decoration: underline;
}

.object-box__list {
    margin: 35px 0 0 17px;

    color: var(--third-color);
    text-transform: uppercase;
}

.margin-top-25 {
    margin-top: 25px;
}